{% extends 'base.html' %}

{% block title %}Order{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container border">
    <div class="row align-items-start">
        <div class="col-9 border text-center">
            <form action="">
                <div class="bg-sauces">
                    <h2>Sauces</h2>
                    <div id="sauce_choices">
                    </div>
                </div>
                
                <div class="bg-cheeses">
                    <h2>Cheeses</h2>
                    <div id="cheese_choices" class="input_group">
                    </div>
                </div>

                <div class="bg-meats">
                    <h2 class="title">Meats</h2>
                    <div id="meat_choices" class="mx-auto">
                    </div>
                </div>

                <div class="bg-vegetables">
                    <h2>Vegetables</h2>
                    <div id="vegetable_choices" class="mx-auto">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3 text-center">
            <div class="row">
                <h2>Total</h2>
            </div>
            <div class="row text-center">
                <h1>
                    <span class="badge bg-success bg=lg" style="width: auto;" id="pizzaTotal"></span>
                </h1>
            </div>
            <div class="row">
                <div class="col" id="pizzaList">

                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-start border">
        <div class="col-9 border">
            <div class="container align-items-center">
                <button class="btn btn-primary" id="savePizza">
                    ree
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/order.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}"></script>
{% endblock %}