{% extends 'base.html' %}

{% block title %}Order{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container mt-3 shadow bg-light border border-success rounded">
    <div class="row align-items-start" style="height: 800px;">
        <div class="col-md text-center p-3 ms-2 h-100 shadow">
            <div >
                <h2>Sauces</h2>
                <div id="sauce_choices">
                </div>
            </div>
        </div>
        
        <div class="col-md text-center p-3 ms-2 h-100 shadow">
            <div>
                <h2>Cheeses</h2>
                <div id="cheese_choices" class="input_group">
                </div>
            </div>
        </div>

        <div class="col-md text-center p-3  ms-2 h-100 shadow">
            <div>
                <h2 class="title">Meats</h2>
                <div id="meat_choices" class="mx-auto">
                </div>
            </div>
        </div>

        <div class="col-md text-center p-3 ms-2 h-100 shadow">
            <div>
                <h2>Vegetables</h2>
                <div id="vegetable_choices" class="mx-auto">
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center h-100 shadow ms-2">
            <div class="row border-bottom">
                <h2>Total</h2>
                <h1>
                    <span class="badge bg-success bg-lg" style="width: auto;" id="orderTotal"></span>
                </h1>
                
            </div>
            <div class="row text-center">
                <h1>
                    
                </h1>
            </div>
            <div class="row">
                <div class="col" id="pizzaList" style="overflow-y: scroll; height: 680px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row shadow m-n3 align-items-start" style="height: 75px; position: relative;">
        <div class="col-8">
            <div class="btn-group mt-1 bg-light border border-radius shadow" style="position: absolute; height: 85%;">
                <button class="btn btn-success" id="savePizza">
                    Add Pizza
                </button>
                
                <button class="btn" disabled>
                    Pizza Total: 
                    <span class="badge bg-success bg-lg" id="pizzaTotal"></span>
                </button>
                
            </div>    
        </div>
        <div class="col">
            <div class="container text-center m-1">
                <button class="btn btn-primary shadow" id="submitOrder">
                    Submit Order
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/order.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}"></script>
{% endblock %}